.title {
  position: relative;
  text-align: center;
  color: white;

  &_container {
    position: absolute;

    top: 0;
    left: 0;
    padding: 40px 16px;

    @media (min-width: 768px) {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    @media (min-width: 2560px) {
      width: 380px;
    }
  }

  &_h1 {
    padding-bottom: 21px;
  }

  &_content {
    padding-bottom: 32px;
  }

  &_background {
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/background2.jpeg);

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      background-image: linear-gradient(to left, #11de93, #0e7ad6);
      opacity: 0.8;
    }
    @media (max-width: 760px) {
      min-height: 500px;
    }

    @media (max-width: 2068px) {
      width: 100%;
    }
  }
}

.gradient {
  display: inline-block;
  position: relative;
  line-height: 0;
  width: 100%;
  height: 500px;

  &_image {
    width: 100%;
    height: 500px;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  }
}
